@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,400);

html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

.container, .container-fluid{
    min-height: 100%;
    height: auto !important;  
}

/* Navbar */
.navbar-default {
  background:
     linear-gradient(
      rgba(4, 79, 103, 0.95), 
      rgba(4, 79, 103, 0.95)
    ), 
    url("../img/footer.jpg");
    background-size: cover;  
    border: 1px rgba(4, 79, 103, 0.95) solid;  
    border-bottom: 4px rgb(54, 232, 60) solid;
}

.navbar-brand {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;  
}

.navbar-default .navbar-brand{
  color: #fff;
  font-size: 35px;
}

.navbar-default .navbar-brand:hover{
    color: #fff; 
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:focus{  
  color: #fff;
  transition: all 0.5s;
}

.navbar-default .navbar-nav>li>a:hover{
   color: #fff;
   font-size: 13px;  
     background-color: #1B728E; 
 }

.nav>li>a{
    padding: 15px 35px;  
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:visited,.navbar-default .navbar-nav>.open>a:hover {
  color: #FFF;
  background-color: #1B728E;
}

@media (max-width: 767px){
  .navbar-default .navbar-nav .open .dropdown-menu>li>a{
  color: #FFF;
  background-color: #1B728E;
  }
}

@media (min-width: 768px){
.navbar {
  border-radius: 0px;
   }
 }
 
/*Dropdown-menu*/
.dropdown-menu {
  border: 1px solid #ccc;
  border: 4px solid rgba(54, 232, 60, 1);
  border-top-color: #fff;
  border-radius: 4px;
  font-weight: 500;
}

 .dropdown-menu>li>a {
  font-weight: 500;
  line-height: 1.42857143;
  color: #0F5669;
}

/*Navbar link caret*/
.caret-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;
    
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}

/*Footer*/
#footer {
  position: relative;
  margin-top: 60px;
  padding-top: 15px;
  color: #fff;
  width:100%;
  height:150px;
  bottom:0;
  left:0;

   background: 
   linear-gradient(
      rgba(4, 79, 103, 0.95), 
      rgba(4, 79, 103, 0.95)
    ), 
    url("../img/footer.jpg");
   
    border-top: 4px rgb(54, 232, 60) solid;  
    background-size: cover;
}

#brand{
    position: absolute;
    margin-top: 25px;
    margin-left: 20px;
    font-weight: 700; 
    font-size: 60px;
    color: #fff;
    text-decoration: none;    
}

.row{
   margin: auto;
   margin-top: 10px;
}

#footer li{
  font-size: 13px;
  padding: 2px;
}

#footer li>a{
  color: #D3D3D3;
  text-decoration: none;
  text-transform:  none;
}

#footer h4{
  font-size: 14px;
  color: rgb(142, 206, 226); 
}

/*Content Page Heading Styles*/
.section-heading{
  text-align: center; 
  margin-bottom: 30px;
}

.section-heading > h1{
    font-weight: 400;
    font-size: 35px;
    color: #105564; 
    margin-bottom: 1px;
}

.section-heading > hr {
  display: inline-block;
  width: 100px;
  border-top: 2px solid #105564;
}

#txtSearch{
  width: 30%;
}

.toggle-btn{
  margin-bottom: 30px;
}

.btn-highlight{
  border: rgb(249, 0, 0)  1px solid;
}

/*Center placeholders*/
::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}

input[type="text"]{
	text-align: center;
}

/*Lecturer Submission View Style*/
.table {
  margin-bottom: 10px;
  margin-top: 20px;
}

.search{
  margin-bottom: 40px;
}

.uploadAssignmentContent{
  margin-top: 80px;
}

/*Error Page*/
.err{
  font-size: 26px;
}

@media (max-width: 767px){
  .err{
    font-size: 24px;
  }
}


/*Margins*/
.margin-b-30{
  margin-bottom: 30px;
}
.margin-b-80{
  margin-bottom: 80px;
}

.margin-b-100{
  margin-bottom: 100px;
}

.margin-t-50{
  margin-top: 50px;
}

.width-50{
  width: 50%;
}
.width-30{
  width: 30%;
}

/*Helper Colours*/
.text-grey{
  color: #ccc;
}

 /* --Button Colours-- */ 
.btn-success{
  background-color: #8CC152;
  border-color: #8CC152;
}

.btn-danger{
  background-color: #DA4453;
  border-color: #DA4453;
}

.btn-warning{
  background-color: #C68705;
  border-color: #C68705;
}