@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,400);

/* Navbar */
.navbar-default {
  background-color: #1B728E;
  border-color: #1B728E;
}

.navbar-brand {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;  
}

.navbar-default .navbar-brand{
  color: #fff;
  font-size: 35px;
}

.navbar-default .navbar-brand:hover{
    color: #fff; 
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:focus{  
  color: #fff;
  transition: all 0.5s;
}

.navbar-default .navbar-nav>li>a:hover{
   color: #fff;
   font-size: 13px;   
 }

.nav>li>a{
    padding: 15px 35px;  
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  color: #FFF;
  background-color: #1B728E;
}

@media (max-width: 767px){
  .navbar-default .navbar-nav .open .dropdown-menu>li>a{
  color: #FFF;
  background-color: #1B728E;
}

}

@media (min-width: 768px){
.navbar {
  border-radius: 0px;
   }
 }
 
/*Navbar link caret*/
.caret-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;
    
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}

/*Footer*/
#footer {
  position: fixed;
  margin-top: 60px;
  padding-top: 15px;
  color: #fff;
  width:100%;
  height:150px;
  bottom:0;
  left:0;

   background: 
   linear-gradient(
      rgba(4, 79, 103, 0.95), 
      rgba(4, 79, 103, 0.95)
    ), 
    url("../img/footer.jpg");

    background-size: cover;
}

#brand{
    position: absolute;
    margin-top: 25px;
    margin-left: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700; 
    font-size: 60px;
    color: #fff;
    text-decoration: none;    
}

.row{
   margin: auto;
   margin-top: 10px;
}

#footer li{
  font-size: 13px;
  padding: 2px;
}

#footer li>a{
  color: #D3D3D3;
  text-decoration: none;
  text-transform:  none;
}

#footer h4{
  font-size: 14px;
  color: rgb(142, 206, 226); 
}

/*Content Page Heading Styles*/
#heading{
  font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 35px;
    color: #105564; 
    margin-bottom: 1px;
}

.section-heading{
  text-align: center; 
  margin-bottom: 30px;
}

.section-heading hr {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  width: 100px;
  border-top: 2px solid #105564;
}

#txtSearch{
  width: 30%;
}

.toggle-btn{
  margin-bottom: 30px;
}

.btn-highlight{
  border: rgb(249, 0, 0)  1px solid;
}

/*Center placeholders*/
::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}

input[type="text"]{
	text-align: center;
}

/*Lecturer Submission View Style*/
.table {
  margin-bottom: 10px;
  margin-top: 20px;
}
