.btn{
	margin-top: 20px;
	font-size: 16px;
}

.main-content h2{
	font-weight: 700;
}

.assignment-form, .radio, select{
  width: 50%;
  margin: auto;
}

.assignment-form input, textarea{
	margin-bottom: 10px;
}

.select{
	width: 50%;
	margin: auto;
}

.btn-primary{
	width: 50%;
	padding-top: 6px;
	background-color: #1B728E;
}

.btn-primary:hover{
	background-color: #134e60;
}


input[type="text"]{
	text-align: center;
}
/*Center placeholders*/
::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}

/*Upload*/
#uploadTxt{
	float:right;
}

#btnUpload{
	float:left;
	margin-top: 0px;
}